.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -20px 0 24px -20px;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  margin: 20px 0 0 20px;
}

.pagination__link {
  min-width: 40px;
  padding: 8px 10px 8px 10px;
  color: var(--color-purple);
  background-color: var(--color-white);
  background-repeat: no-repeat;
  border-radius: 0%;


  &--arrow-left,
  &--arrow-right {
    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("../img/sprite.svg#arrow-select");
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
  }

  &--arrow-right::before {
    transform: rotate(-90deg);
  }

  &--current {
    font-weight: 600;
    color: var(--color-light-black);
    background-color: var(--color-very-light-grey);
  }
}
